.App {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px;
}

img {
  max-width: 100px;
  height: auto;
}

button {
  margin: 10px;
}

.navbar {
  height: 80px; 
  padding-top: 15px; 
  padding-bottom: 15px; 
}

.navbar-brand {
  font-size: 1.5rem; 
}